.logo {
    height: 10%;
    width: 100%;
    background-color: #f1f5f9;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.logoimg{
    height: 45px;
    width: 140px;
}